.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-family: fantasy;
    font-size: 2em;
    border-bottom: 3px brown solid ;
    width: 200px;
    border-right: 3px brown solid;
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 4px 5px blue;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 2px solid brown;
    border-radius: 15px;
    transition: all 1s;
    box-shadow: 4px 4px 5px blue;
}

img:hover {
transform: scale(1.1);
}